<!-- wp:template-part {"slug":"header","tagName":"header","lock":{"move":true,"remove":true}} /-->

<!-- wp:group {"tagName":"main","templateLock":"all","className":"site-main site-main--message","layout":{"type":"constrained"}} -->
<main class="wp-block-group site-main site-main--message">
	<!-- wp:heading {"level":1,"className":"page-heading"} -->
	<h1 class="wp-block-heading page-heading">Pagina niet gevonden</h1>
	<!-- /wp:heading -->
	<!-- wp:paragraph -->
	<p>De pagina die je zoekt bestaat niet of is verplaatst. Probeer te zoeken naar de gewenste informatie.</p>
	<!-- /wp:paragraph -->
	<!-- wp:search {"label":"Zoeken","showLabel":false,"placeholder":"Zoeken…","buttonText":"Zoeken","buttonUseIcon":true} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","lock":{"move":true,"remove":true}} /-->
