<!-- wp:template-part {"slug":"header","tagName":"header","lock":{"move":true,"remove":true}} /-->

<!-- wp:group {"tagName":"main","templateLock":"all","className":"site-main site-main--singular","layout":{"type":"constrained"}} -->
<main class="wp-block-group site-main site-main--singular">
	<!-- wp:group {"tagName":"article","className":"single-article attachment-article","layout":{"type":"constrained"}} -->
	<article class="wp-block-group single-article attachment-article">
		<!-- wp:post-title {"level":1,"className":"page-heading"} /-->
		<!-- wp:post-date {"format":"j F Y","isLink":true,"className":"single-article__date"} /-->
		<!-- wp:post-content {"align":"full","layout":{"type":"constrained"},"className":"entry-content"} /-->
	</article>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","lock":{"move":true,"remove":true}} /-->
