<!-- wp:template-part {"slug":"header","tagName":"header","lock":{"move":true,"remove":true}} /-->

<!-- wp:group {"tagName":"main","templateLock":"all","className":"site-main site-main--singular site-main--landing","layout":{"type":"constrained"}} -->
<main class="wp-block-group site-main site-main--singular site-main--landing">
	<!-- wp:post-content {"layout":{"type":"constrained"},"className":"entry-content landing-page__content"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","lock":{"move":true,"remove":true}} /-->
