<!-- wp:template-part {"slug":"header","tagName":"header","lock":{"move":true,"remove":true}} /-->

<!-- wp:group {"tagName":"main","templateLock":"all","className":"site-main site-main--singular","layout":{"type":"constrained"}} -->
<main class="wp-block-group site-main site-main--singular">
	<!-- wp:group {"tagName":"header","align":"full","templateLock":"all","className":"page-hero","layout":{"type":"default"}} -->
	<header class="wp-block-group alignfull page-hero">
		<!-- wp:post-featured-image {"aspectRatio":"21/9","scale":"cover","sizeSlug":"full","overlayColor":"dark","dimRatio":40,"align":"full","className":"page-hero__image"} /-->
		<!-- wp:post-title {"level":1,"className":"page-heading page-hero__title"} /-->
	</header>
	<!-- /wp:group -->

	<!-- wp:post-content {"layout":{"type":"constrained"},"className":"entry-content"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","lock":{"move":true,"remove":true}} /-->
